{! This is a footer file, which gets included inside of base.tmpl, so that every template which includes base
   will also include this footer. !}

<footer>
    
<div>
		<a href="javascript:Mobify.desktop();" id="viewFull">View Full Site</a>
	</div>
    <ul>
<li><a href="javascript:licenseAgreementAlert();" target="_blank" >License Agreement</a> | <a  target="_blank" href="javascript:privacyPolicyAlert();">Privacy Policy</a></li>


<li>
<a  target="_blank" href="javascript:copyrightAlert();">&copy; 2000-2015 John Wiley &amp; Sons, Inc.</a> </li>
</ul>
						<p>All Rights Reserved.
                A Division of <a  target="_blank" href="javascript:jwasAlert();"> John Wiley &amp; Sons, Inc.</a></p>

<p>4.16.0.11</p>
</footer>