{! This is a header file, which gets included inside of base.tmpl, so that every template which includes base
   will also include this header. !}

<header>
<script>
  $(function() {
    pikabu = new Pikabu({
    widths: {
        left: '70%',
        right: '70%'
    }
});
  });

</script>

  <div class="m-pikabu-sidebar m-pikabu-left">
      
      <li><a href="javascript:switchAccess('home','init');">Home</a></li>
          <li><a onclick="javascript:switchAccess('study','init'); return false;">Read, Study, Practice</a></li>
          <li><a id="assignmentOpener">Assignments</a></li>
          <li><a onclick="javascript:switchAccess('gradebook','init'); return false;">Gradebook</a></li>
          
      <div id="flyout_bar">
      </div>
      
      <li><a href="https://www.wileyplus.com/Section/id-406740.html?nocache=1">My WileyPLUS</a></li>
      <li><a id="helpOpener">Help</a></li>
      <li><a id="contactUsOpener">Contact Us</a></li>

       <li><a href="javascript:Mobify.desktop()">View Full Site</a></li>

      <li><a href="#" onclick="uni_logout();" style="color:#FFF;">Log Out</a></li>
      
  </div>
    
     <div class="m-pikabu-sidebar m-pikabu-right">
     
  </div>

  <div class="m-pikabu-container">
    <div class="m-pikabu-overlay"></div>
    

      <a class="m-pikabu-nav-toggle" data-role="left"></a>
      <a href="javascript:switchAccess('home','init');">
          <img src="https://origin.media.wiley.com/spa_assets/R16B065WP/site/wileyplus/include/images/logo.gif"
                                                             alt="WileyPLUS - accessible, affordable, active learning" class="header_img"/>
        </a>
      <a class="m-pikabu-nav-toggle" data-role="right"></a>
      </div>
 

<script>
$('.m-pikabu').pikabu({
  viewportSelector: 'header'
});
</script> 
<!--Script function for Pop up messages in Flyout Menu -->
<script>
  $j(function() {
    $j( "#helpDialog" ).dialog({
      autoOpen: false,
      
        buttons: {
        "Continue": function() {
          uni_help();
            $j( this ).dialog( "close" );
        },
        Cancel: function() {
          $j( this ).dialog( "close" );
        }
      }
    });
      $j( "#helpOpener" ).click(function() {
      $j( "#helpDialog" ).dialog( "open" );
    });
  });
  </script>
    <script>
  $j(function() {
    $j( "#contactUsDialog" ).dialog({
      autoOpen: false,
      
        buttons: {
        "Continue": function() {
          var win = window.open('http://catalog.wileyplus.com/contact.html', '_blank');
            win.focus();
            $j( this ).dialog( "close" );
        },
        Cancel: function() {
          $j( this ).dialog( "close" );
        }
      }
    });
      $j( "#contactUsOpener" ).click(function() {
      $j( "#contactUsDialog" ).dialog( "open" );
    });
  });
  </script>
    <script>
  $j(function() {
      var user_type = m_role;
    $j( "#assignmentDialog" ).dialog({
      autoOpen: false,
      
        buttons: {
        "Continue": function() {
            switchAccess('assignment','init');
        },
        Cancel: function() {
          $j( this ).dialog( "close" );
        }
      }
    });
      $j( "#assignmentOpener" ).click(function() {
          if (user_type == "instructor"){
        $j( "#assignmentDialog" ).dialog( "open" );}
          else{
              switchAccess('assignment','init');}
    });
  });
  </script>
    <div id="assignmentDialog" title="Assignments">
  <p><span>The following pages are not optimized for mobile view. Would you like to go to the desktop site?</span></p>
</div>
<div id="helpDialog" title="Help">
  <p><span>This will open in a new tab and is not mobile friendly. Do you wish to continue?</span></p>
</div>
    <div id="contactUsDialog" title="Contact Us">
  <p><span>This will open in a new tab and is not mobile friendly. Do you wish to continue?</span></p>
</div>

  </header>
