{!
  Template syntax legend:

  ! Comment !       - Template comment. Text surrounded by ! will not be rendered.
  {foo}             - Renders the value of key 'foo'.
  {foo|bar}         - Renders the value of key 'foo' through the filter bar.
                        Normally, text variables are escaped by dust, so <p> appears as <p> on user
                        screen instead of creating a paragraph. |s filter overrides that.
                        openTag, closeTag and innerHTML tags allow showing parts of HTML elements.

  {#foo}..{/foo}    - iterate or descend into the key foo.
                      Example:  {#header}
                                    {logo}
                                    {nav}
                                {/header}
  {>foo/}           - Include the template 'foo' inside the current template
                      (also known as a "partial")
  {+bar}...{/bar}   - Block placeholder. Defined blocks which can be overridden
                      in other templates that include this one.
  {<bar}...{/bar}   - Block override. Overrides the content in the bar block placeholder.
  {?foo}...{/foo}   - Conditional.
                      Example:  {?user}
                                    Welcome {user}
                                    Please login.
                                {/user}
  {%script}{/script} - Special script pragma to prevent removal of whitespace when building.

  $html,$head,$body  - Special keys which are the html, head, and body elements
                       from the desktop site.
  {#lib_imports/}    - The Mobify object gets blown away when we write the rendered template to the document.
                       This function allows us to reload these libraries after templates have been rendered.
                       For example, because of this, you can use Mobify.$ to access Zepto, instead of having
                       to include a script tag for your own selector engine.

Below is your base template file, which is extended by home.tmpl:

!}

{doctype|s}
{$html|openTag|s}
{$head|openTag|s}
    {+baseScripts}
        {#lib_import/}
        {%script}
            Mobify.enhance();
            // Scroll the page past URL bar if user did not scroll manually, and hash is absent.
            Mobify.$(this).bind('load', function() {
                location.hash || setTimeout(function() {
                    pageYOffset || scrollTo(0, 1);
                }, 250);
            });
        {/script}
        {%script}
            Mobify.$('html').addClass("{#content.templateName}x-{.}{~s}{/content.templateName}");
        {/script}
    {/baseScripts}
    {+head}
        {$head|innerHTML|s}
        <link rel="stylesheet" href="{config.configDir}style.css" />
<!--Code libraries for pop up messages -->
<link rel="stylesheet" href="{config.configDir}jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>var $j = jQuery.noConflict();</script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
     <p id="mobify"></p>
<!-- Script for Pop Up message to warn users the link will open in a new tab -->

<script>
    function sysNotifications(){
        javascript:openAnnouncementMsgList('0', 'none', 0, 'thickbox-message-pointer-0');
        removeExtra("System Announcements");  
    }
    function clsNotification(){
        javascript:openAnnouncementMsgList('1', 'none', 0, 'thickbox-message-pointer-1');
        removeExtra("Class Announcements");
    }
    function courseMaterialsNotification(){
        javascript:openAnnouncementMsgList('2', 'none', 0, 'thickbox-message-pointer-2');
        removeExtra("Course Materials");
    }
    function removeExtra(typeOfAnnouncement){
        var x = typeOfAnnouncement.toString();
        if ($('div.jqmOverlay').length == 1){
            $('#announcementMsgListWindow').attr('style', 'width: 80%; display: block; float: left; margin-left: 6%; padding-bottom: 2%; border: 1px solid #d4d4d4; box-shadow: none;');
            $('div.jqmOverlay').remove();
            $('div.wp-popup-content header').remove(); 
            $('#emailStudents').remove();
            $('.announcement-list thead tr th:nth-child(3)').remove();
            $('.announcement-list thead tr th:nth-child(2)').remove();
            $('.a-center').replaceWith("<div class='announcementType'>" + typeOfAnnouncement + "</div>");
        }
        else{
            setTimeout('removeExtra("' + x + '");',50);   
        }
    }
</script>



<!-- Warning Messages for links in Header and Footer to alert User they are leaving Mobify View -->
<script type="text/javascript">
    function helpAlert(){
        var r = confirm("The following pages are not optimized for mobile view.");
        if (r){
            uni_help();
        }
        else{
        }
    }
</script>

<script type="text/javascript">
    function contactUsAlert(){
        var r = confirm("The following pages are not optimized for mobile view.");
        if (r){
            var win = window.open('http://catalog.wileyplus.com/contact.html', '_blank');
            win.focus();
        }
        else{
        }
    }
  
</script>



<script type="text/javascript">
    function fullSiteAlert(){
        var r = confirm("Do you wish to continue to the Desktop Site?");
        if (r){
            Mobify.desktop();
            return false;
        }
        else{
        }
    }
    function privacyPolicyAlert(){
        var r = confirm("The following pages are not optimized for mobile view.");
        if (r){
            var win = window.open('http://www.wileyplus.com/go/privacy_policy', '_blank');
            win.focus();}
        else{
        }
    }
    function licenseAgreementAlert(){
        var r = confirm("The following pages are not optimized for mobile view.");
        if (r){
            var win = window.open('http://wpadmin.wileyplus.com/edugen/student/license/lic.uni', '_blank');
            win.focus();}
        else{
        }
    }
    function copyrightAlert(){
        var r = confirm("The following pages are not optimized for mobile view.");
        if (r){
            var win = window.open('http://www.wileyplus.com/go/copyright', '_blank');
            win.focus();}
        else{
        }
    }
    function jwasAlert(){
        var r = confirm("The following pages are not optimized for mobile view.");
        if (r){
            var win = window.open('http://www.wiley.com', '_blank');
            win.focus();}
        else{
        }
    }
</script>

<!-- Alerts users they are about to enter ORION, which has no Mobify template -->
<script type="text/javascript">
    function orionAlert(){
        var user_type = m_role;
        var r = confirm("The following pages are not optimized for mobile view.");
        if (r == true){
            if (user_type == "instructor") {
                selectClassScreen('instructor/home/home_lti_class_select.xml', 'ORION', false, false, 'home', 'Available');
            }
            if (user_type == "student") {
                openHomeToolProvider('ORION', 'snapwiz', '', 'Available' ,'/edugen');
            }
            else{
            }
        }
        else{
        }
        
    }
</script>

<!-- JS to exclude LTI Apps -->
<script type="text/javascript">
    var isLTI = window.location.href.indexOf('lti');
    if (isLTI > 0){
        Mobify.desktop();
    }
    else{
    }
</script>

<!-- Script to warn users that the page they are going to is not designed for Mobile usage -->
        <script type="text/javascript">
            function nonMobile(pageName, pageType){
                var temp ="javascript:switchAccess('";
                var temp1= "','";
                var temp2 = "');";
               
                var temp3 = temp + pageName + temp1 + pageType + temp2;
                var r = confirm("The following pages are not optimized for mobile view.");
                if (r == true) {
                    window.location.href=temp3;
                    } 
                    else{
                    }
                }
        </script>
<!-- JS code to exclude Mobify from Production -->
<script type="text/javascript">
    var currentURL = window.location.host;
    var parts = currentURL.split('.');
    var sub = parts[0];
    var edugen = "edugen";
    var edugenQA = "edugen-qa";
    var edugenSTG = "edugen-stg";
    
    if (sub == edgugenQA){
        Mobify.desktop();
    }
    else if (sub == edugenSTG){
        Mobify.desktop();
    }
    else{
    }
</script>
<!-- Remove Orion from RSP -->
<script>
    function removeOrion(){
        try{
            var iframe = document.getElementById('lwsFrame');
            var innerDoc = iframe.contentDocument;
            var y = innerDoc.getElementsByClassName('word-break');
            var z = y.length;
            var k = '';
            var orionLabel = '<h5 class="word-break">ORION: Build your Proficiency</h5>';
            var x = innerDoc.getElementById('tool_ORION');
            x.remove();
            for(i = 0; i< z; i++)
            {
                k = y[i].outerHTML;
                if (k == orionLabel) 
                {
                    y[i].remove();
                    break;
                }
                else{
                }
            }
        }
        catch(e){
        }
    }
</script>


<!-- Script to only allow Instructors to be warned they are entering Assignment section since it has not been Mobified -->
<script type="text/javascript">
            function nonMobileAssignment(pageName, pageType){
                var user_type = m_role;
                var temp ="javascript:switchAccess('";
                var temp1= "','";
                var temp2 = "');";
                var temp3 = temp + pageName + temp1 + pageType + temp2;
                if (user_type == "instructor"){ 
               		 var r = confirm("The following pages are not optimized for mobile view.");
                if (r == true) {
                    window.location.href=temp3;
                    } 
                    else{
                    }
                }
                else{
                    window.location.href=temp3;
                }
            }
        </script>


<!-- Source code for Flyout Menu usage -->
       <!-- <script src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
        <script src="{config.configDir}tmpl/pikabu.js"></script>
        <script src="//cdn.mobify.com/modules/pikabu/0.2.1/pikabu.min.js"></script>

<!--Source code for Joyride implementation 
        <link rel="stylesheet" href="{config.configDir}joyride-2.1.css" />
        <script src="{config.configDir}jquery.joyride-2.1.js"></script>
        <script src="{config.configDir}jquery.cookie.js"></script>
        -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    {/head}
</head>
{$body|openTag|s}
    {!  Here, we have set up a few blocks that would help you override content from page-specific
        templates. For example, if you would like to create a splash page without headers or footers,
        you could write {<body}<p>Splash page content</p>{/body} in a page template.

        If you override block contents, you can bring back old content with a {_SUPER_} reference.
        For instance, if a certain page needs to be wrapped in an extra div, its template could add
        {<body}<div class="outerWrap">{_SUPER_}</div>{/body}.

        Blocks are independent from names of data objects used within. For example, above in {+head}
        you can see how content object is being accessed within head block. Reuse of names is merely
        a matter of convention.
    !}
    {+body}
{+header}
{>_header/}
{/header}
        {+content}
            {$body|innerHTML|s}
        {/content}
        {+footer}
        {>_footer/}
        {/footer}
    {/body}
    {forms}
    {+scripts}
    {script}
    {/scripts}
</body>
</html>