{>base/}

{<content}

<div id="wrapper">
<div class="breadcrumb"><b>Class Section Info</b></div>
{#content}
<div class="subnav">
{subtabs}
</div>
{classsection}
{pagecontent}
{/content}
</div>
<script>
$(document).ready(function(){
    $("#applyRosterSetings").html("Show Results");
});
</script>
{/content}
