{>base/}

{%script}var mobifyUrl = '{config.configDir}';{/script}

{<content}
    <div id="wrapper">
      {#content}
      {breadcrumb}
<p class="function-headline" style="margin-top:0px; margin-left:0px;">Find Student(s)</p>
        <script>
    var bread = $('.breadcrumb b').text();
    if (bread == "Instructors"){
        Mobify.unmobify();
    }
    if (bread == "Class Sections"){
        Mobify.unmobify();
    }
    if (bread == "Course Properties"){
        Mobify.unmobify();
    }
    if (bread == "Resources"){
        Mobify.unmobify();
    }
    if (bread == "Presentations"){
        Mobify.unmobify();
    }
    if (bread == "Questions"){
        Mobify.unmobify();
    }
    if (bread == "Resources"){
        Mobify.unmobify();
    }
    if (bread == "Presentations"){
        Mobify.unmobify();
    }
    if (bread == "Create Presentation"){
        Mobify.unmobify();
    }
    if (bread == "New Resource"){
        Mobify.unmobify();
    }
    if (bread == "Open Assignment"){
        Mobify.unmobify();
    } 
    if (bread == ""){
        Mobify.unmobify();
    }        
    else{
    }
            
</script>
<div style="display:none;">
    {studentSearch}
    </div>
<div style="margin-left:5px;">
      {pagecontent}
</div>
<script>
$(document).ready(function(){
    $("#applyGBSetting").html("Show Results");
});
$('#gbSettingsForm > table > tbody > tr:nth-child(3) > td:nth-child(5)').after('<p>Please select a class section:</p>');
</script>
      {nogrades}
      {studentlist}
      {/content}
    </div>
<script>
    var selectThing = $('#clsSelector');
    var selectThingChildren = selectThing.children();
    selectThingChildren[0].selected = true;
</script>  
{/content}
