{>base/}
{<content}
<!-- Mobify 2.0 -->
  <div id="wrapper">
<!--Pop up messages for Course Home page -->      
<script>var user_type = m_role;</script>
    <script>
  $j(function() {
    $j( "#prepareDialog" ).dialog({
      autoOpen: false,
      
        buttons: {
        "Continue": function() {
          switchAccess("prepare", "resource");
        },
        Cancel: function() {
          $j( this ).dialog( "close" );
        }
      }
    });
      $j( "#prepareOpener" ).click(function() {
      $j( "#prepareDialog" ).dialog( "open" );
    });
  });
  </script>
<script>
  $j(function() {
    $j( "#orionDialog" ).dialog({
      autoOpen: false,
        buttons: {
        "Continue": function() {
           if (user_type == "instructor") {
                selectClassScreen('instructor/home/home_lti_class_select.xml', 'ORION', false, false, 'home', 'Available');
            }
            if (user_type == "student") {
                openHomeToolProvider('ORION', 'snapwiz', '', 'Available' ,'/edugen');
            }
            else{
            }
        },
        Cancel: function() {
          $j( this ).dialog( "close" );
        }
      }
    });
      $j( "#orionOpener" ).click(function() {
      $j( "#orionDialog" ).dialog( "open" );
    });
  });
  </script>
<script>
  $j(function() {
    $j( "#courseAdminDialog" ).dialog({
      autoOpen: false,
        buttons: {
        "Continue": function() {
            switchAccess('course','init');
        },
        Cancel: function() {
          $j( this ).dialog( "close" );
        }
      }
    });
      $j( "#courseAdminOpener" ).click(function() {
      $j( "#courseAdminDialog" ).dialog( "open" );
    });
  });
  </script>

<script>
  $j(function() {
    $j( "#assignmentHPDialog" ).dialog({
      autoOpen: false,
        buttons: {
        "Continue": function() {
            switchAccess('assignment','init');
        },
        Cancel: function() {
          $j( this ).dialog( "close" );
        }
      }
    });
      $j( "#assignmentHPOpener" ).click(function() {
          if (user_type == "instructor"){
        $j( "#assignmentHPDialog" ).dialog( "open" );}
          else{
              switchAccess('assignment','init');}
    });
  });
  </script>

<div id="prepareDialog" title="Prepare and Present" style="display:none;">
  <p><span>The following pages are not optimized for mobile view. Would you like to go to the desktop site?</span></p>
</div>
<div id="assignmentHPDialog" title="Assignments" style="display:none;">
  <p><span>The following pages are not optimized for mobile view. Would you like to go to the desktop site?</span></p>
</div>
<div id="courseAdminDialog" title="Course Administration" style="display:none;">
  <p><span>The following pages are not optimized for mobile view. Would you like to go to the desktop site?</span></p>
</div>
<div id="orionDialog" title="ORION" style="display:none;">
  <p><span>The following pages are not optimized for mobile view. Would you like to go to the desktop site?</span></p>
</div>

      {#content}
      {announcementbar}
      {course}
      <div id="modalStuff" style="width:100%;margin-left:auto;margin-right:auto;">
        {notificationModal}
        {closeModal}
</div>
      {courseAdministration}
      {classSectionInfo}
      {prepare}
      {rsp}
      {assignments}
      {gradebook}
      {orion}
 
<div id="divider">
    
<h3 class="notification-header">Notifications</h3>
</div>
        
<a onclick="javascript:sysNotifications();" aria-role="button" class="thickbox" id="thickbox-message-pointer-0"><span class="message-title">System Announcements {sysBadge}</span></a>

<a onclick="javascript:clsNotification();"><span class="message-title">Class Announcements {classBadge}</span></a>


<a onclick="javascript:courseMaterialsNotification();"><span class="message-title">Course Materials {courseBadge}</span></a>
      {googleframe}
      </div>
        {/content}



<!-- Tip Content 

<ol id="joyRideTipContent">
 <li>
        <h1>WileyPLUS Mobile</h1>
        <p>Welcome to the new WileyPLUS Mobile View</p>
    </li>

    <li data-id="m-pikabu-left">
    <h1>Navigation Menu</h1>
        <p>Use this icon to navigate through your course</p>
    </li>
    <li data-id="viewFull" data-options="tipLocation:top">
        <h1>View Full Site</h1>
        <p>Use this link to view the desktop version of the page you are currently on</p>
    </li>

</ol>
-->

<script type="text/javascript">
    var anounExist = $('#selenium-message-pointer-0').length;
    if (anounExist > 0){
        sysNotifications();
    }
</script>

{/content}
