{>base/}

{<content}
<div id="wrapper">
{#content}
{course}
{menu}
<div id="accordion">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<h3>{notification}</h3>
<div>
  <p>
{sysannounce}
</p>
</div>
</div>
{/content}
</div>
 <script>
  $(function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  });
  </script>
{/content}
