{>base/}
{<content}
<head>

</head>

<script>
  $(function() {
    pikabu = new Pikabu({
    widths: {
        left: '10%',
        right: '70%'
    }
});
  });
</script>
<div class="m-pikabu-viewport">
  <div class="m-pikabu-sidebar m-pikabu-left">
    <h2>test</h2>
    <li><a onclick="javascript:switchAccess('gradebook','init'); return false;">Gradebook</a></li>
    <li> <a onclick="javascript:switchAccess('study','init'); return false;">Read, Study, Practice</a></li>
    <li> <a onclick="javascript:switchAccess('assignment','init'); return false;">Assignments</a><li>
  </div>
  <div class="m-pikabu-container">
    <div class="m-pikabu-overlay"></div>
    <header>
      <a class="m-pikabu-nav-toggle" data-role="left" id="left">Left Menu</a>
      <img src="https://origin.media.wiley.com/spa_assets/R16B065WP/site/wileyplus/include/images/logo.gif"
                           alt="WileyPLUS - accessible, affordable, active learning" class="header_img"/>
      <a class="m-pikabu-nav-toggle" data-role="right" id="right">Right Menu</a>
    </header>
    <div id="wrapper">
      {#content}
      {course}
      {menu}
      <div id="divider">{notification}</div>
        {sysannounce}
      {/content}
    </div>
  </div>
  <div class="m-pikabu-sidebar m-pikabu-right">
    <ul>
      <li><a title="Course Admin" href="javascript:switchAccess('course','init');">Course Administration</a></li>
      <li><a onmouseover="top.status='Prepare &amp; Present'; return true;" onmouseout="javascript:top.status=''; return true;" onclick="javascript:switchAccess('prepare', 'resource'); return false;" href="#">Prepare &amp; Present</a></li>
      <li><a id="Go_To_Student_View" href="javascript:void(0);" onclick="javascript:switchAccess('global', 'studentview'); return false;">Go To Student View</a></li>
      <li><a href="" onclick="Mobify.desktop();return false;">View Full Site</a></li>
      <li><a href="https://www.wileyplus.com/Section/id-406740.html?nocache=1">My WileyPLUS</a></li>
      <li><a href="javascript:uni_help();">Help</a></li>
      <li><a href="http://catalog.wileyplus.com/contact.html" target="_blank">Contact Us</a></li>
      <li><a href="#" onclick="uni_logout();">Log Out</a></li>
    </ul>
  </div>
</div>
<!-- Tip Content -->

<ol id="joyRideTipContent">

  <li data-id="left" data-options="modal:false">
    <h2>Nav Fly Out</h2>
    </br>
    <p>Use this for navigation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </li>

  <li data-id="right">
    <h2>ETC.. Fly Out</h2>
   </br>
    <p>Use this for other&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </li>

  <li data-id="course-title">
    <h2>Course Info</h2>
    </br>
    <p>Here you will find your course info&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </li>

  <li>
    <h2>Home Page Navigation</h2>
    </br>
    <p>This is the main navigation menu&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </li>

  <li data-id="viewFull" data-options="tipLocation:top">
    <h2>Desktop Site</h2>
    </br>
    <p>Use this link from any webpage to view the desktop version of that webpage.</p>
  </li>

</ol>
<script>
  $(window).load(function() {
    $('#joyRideTipContent').joyride({
      autoStart : true,
      expose: true,
      modal: true
    });
  });
</script>
<script>
$('.m-pikabu').pikabu({
    viewportSelector: '.pikabu-viewport'
});
</script>
{/content}
