{>base/}

<header>
<img src="https://origin.media.wiley.com/spa_assets/R16B065WP/site/wileyplus/include/images/logo.gif"
                     alt="WileyPLUS - accessible, affordable, active learning" class="header_img"/>
</header>

{<content}
<div id="wrapper">
{#content}

{login}
{enterEmail}
{loginButton}

{/content}
</div>
{/content}
