{>base/}
<header>
<img src="https://origin.media.wiley.com/spa_assets/R16B065WP/site/wileyplus/include/images/logo.gif"
                     alt="WileyPLUS - accessible, affordable, active learning" style="width:125px; margin-left:33%;"/>
</header>
{<content}
<div id="wrapper">
{#content}
{loginarea}
{/content}
<script type="text/javascript">
    var x = $('div#password-recovery a');
    var xHref = x.attr('href');
    x.attr('href','javascript:forgotPasswordAlert();');
        function forgotPasswordAlert(){
            var r = confirm("The following pages are not optimized for mobile view.");
            if (r){
                window.location.href = xHref;
            }
            else{
            }
        }
</script>
</div>
{/content}
