{>base/}
<header>
<img src="https://origin.media.wiley.com/spa_assets/R16B065WP/site/wileyplus/include/images/logo.gif"
                     alt="WileyPLUS - accessible, affordable, active learning" style="width:125px; margin-left:33%;"/>
</header>
{<content}
<div id="wrapper">
{#content}
{logininfo}
{/content}
</div>
{/content}
