{>base/}
{<content}
		<div id="rspwrapper">
			<div class="breadcrumb"><b>Read Study Practice</b> <b>></b> <a href="javascript:gotoHomePage();">Table of Contents</a></div>
{#content}
<!--
<div width="100%">			
{bookmark}
{bookmarkcontent}
</div>
-->
<div id="warning">
<p>Note: For the best experience please view on your desktop.</p>
</div>

<h4 style="float:left; margin-bottom:2%; margin-top: -5px; margin-left:5px;">Contents</h4>

<div id="selectors">
    <span id="classes">
    {classes}
        </span>
				{chapter}
                {studentchapter}
				{section}
				{objective}
    </div>

{frame}
			{/content}
		</div>
<script>
	removeOrion();
</script>

{/content}
