{>base/}

{<content}

<div id="wrapper">
{#content}
{breadcrumb}
<!--Change is needed for this specific page only -->
<script>
$('.function-headline').style('margin-top:-10px; margin-left:-15px;');
</script>
{sendemail}
{pagecontent}
<div id="CancelUpdate">
<a href="javascript:switchScreen('instructor/clsinfo/clsinfo_roster.xml');" class="cancelbutton">
  Cancel
</a> 
<a id="UpdateStudent" href="javascript:submitValidData();">Update</a>
</div>
{/content}
</div>   
{/content}
