{>base/}

{<content}

<div id="wrapper">
{#content}
{breadcrumb}
{sendemail}
{pagecontent}
<div id="CancelUpdate">
<a href="javascript:switchScreen('instructor/clsinfo/clsinfo_roster.xml');" class="cancelbutton">
  Cancel
</a> 
<a id="UpdateStudent" href="javascript:submitValidData();">Update</a>
</div>
{/content}
</div>   
{/content}
