{>base/}

{<content}
<head>
<script>
    var isLTI = window.location.href.indexOf('lti');
    if (isLTI > 0){
        Mobify.desktop();
    }
    else{
        window.location.href="/edugen/student/main.uni";  
    }
</script>

In base.tmpl:

<!-- JS to exclude LTI Apps -->
<script type="text/javascript">
    var isLTI = window.location.href.indexOf('lti');
    if (isLTI > 0){
        Mobify.desktop();
    }
    else{
    }
</script>

</head>
<div id="wrapper">
{#content}
{coursecontent}
{announcements}
{/content}
</div>
</script>
{/content}
