<tr>
	<td class="gb-item">
		<h5{?nonAccessible} class="textGrey"{/nonAccessible}>{name}</h5>
		<div>{duedate}</div>
		<div>{details}</div>
	</td>
	<td class="gb-score">
		<span class="gb-percent">
			{score}
		</span>
	</td>
</tr>
