{>base/}
<header>
    <a href="http://www.wileyplus.com">
<img src="https://origin.media.wiley.com/spa_assets/R16B065WP/site/wileyplus/include/images/logo.gif"
                     alt="WileyPLUS - accessible, affordable, active learning" class="header_img"/></a>    
</header>
{<content}
<div id="wrapper">
{#content}
<!-- Adding CSS changes to this specific template to avoid CSS conflict with these id and class names in other sections of WileyPLUS-->
<style>
.header_img {
    margin-left:35%;
}
#assignmentDialog {
    display:none;
}
</style>
<!--End of CSS Changes -->
{session} 
{information}
{/content}
</div>
{/content}
