@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	font: normal 1em "Helvetica Neue", sans-serif;
	color: #15191A;
	background: #FFF;
	margin: 0;
	padding:0;
	width: 100%;
    float:none;
    position:relative;
}

#wrapper {
  width:100%;
  min-height:100%;
  float:left;
  position:relative;
  margin-bottom:inherit;
}

#login-wrapper {
    padding-top:25%;
    width:100%;
    float:left;
    position:relative;
    margin-bottom:inherit;
}

h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1em;
	font-weight: normal;
}

/*login.tmpl*/

#mwp-class-informer {
  float:left;
}

#mwp-class-informer-book {
  width:100%;
  float:left;
  position:relative;
}

#mwp-book-container {
  margin-left:3%;
  float:left;
}

#mwp-book-container img {
  max-width:128px;
}

#mwp-class-informer-book ul {
  float:left;
  position:relative;
  text-align:left;
  width:80%;
  font-size:14px;
}

#mwp-class-informer-book li {
  list-style:none;
  padding:2%;
  float:left;
  font-weight:bold;
  color:#595959;
}

#loginform {
  float:left;
  margin-left:8%;
  position:relative;
  width:90%;
  padding-bottom:5%;
}

#loginform p {
  float:left;
  position:relative;
  font-size:12px;
  margin-left:25%;
}
.mwp {
  width:100%;
}

fieldset {
  width:80%;
  float:left;
  border:none;
  background:none;
  color:#0d5386;
}

.mwp-right-arrow-button {
  background:#2581C3;
  width:240px;
  float:left;
  position:relative;
  text-decoration:none;
}

#mwp-login-button-wrapper {
  float:left;
  border-radius:4px;
  height:45px;
  position:relative;
  color:#FFF;
  text-align:center;
}

#mwp-login-button-wrapper a{
  color:#FFF;
  text-decoration:none;
  background:#2581C3;
  width:100%;
  float:left;
  font-size:16px;
  position:relative;
}

.c {
  font-size:16px;
  text-decoration:none;
  font-weight:bold;
}

#mwp-first-registration-wrapper {
  width:100%;
  float:left;
  position:relative;
}

#mwp-first-registration-wrapper p{
  font-size:12px;
  text-align:left;
  margin-left:1%;
}

.bottom-line {
  border-top:1px solid #D4D4D4;
  color:#00548F;
  width:100%;
  float:left;
  position:relative;
  font-size:14px;
  font-weight:bold;
}

.input300 {
    float:left;
    position:relative;
    width:70%;
    margin-left:10%;
    margin-bottom:2%;
    margin-top:5%;
}

.welcome {
  width:100%;
  float:left;
  position:relative;
  text-align:left;
  text-indent:10%;
  color:#000000;
}

#Login {
    float:left;
    position:relative;
    width:50%;
    background:#2581C3;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color:#FFF;
    text-decoration: none;
    margin-left:20%;
    margin-top:2%;
    margin-bottom:3%;
}

/*end login*/

/*_header.tmpl*/
header {
	position:fixed;
	width:100%;
	float:none;
    height:40px;
    background:#FFF;
    border-bottom:#595959 solid 1px;
	z-index:1;
}
.header_img {
  width:125px;
  margin-left:5%;
}

.title {
	width:100%;
	float:none;
	margin:0 auto;
	padding-bottom:1%;
  background:#FFF;
  border-bottom:#595959 solid 1px;
  z-index:1;
}

/*
#homeicon {
	width:20px;
	height:20px;
	float:left;
  position:absolute;
	padding-left:2%;
  top:8px;
}


.menu-link {
    position: absolute;
    top: 8px;
    left: -25px;
    height: 25px;
    width: 25px;
    background: url(http://cradigital.com/images/navi.png) #504a4a no-repeat ;
    background-position: center center;
    background-size: 100%;
    z-index: 99;
    -webkit-transition: opacity 0.15s ease;
    -moz-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
}

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    background-color: #8b8b8b;
    z-index: 999;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: 0.15s ease;
    right: -200px;
}

#menu.active {
        -webkit-transform: translate(-200px, 0px);
        -moz-transform: translate(-200px, 0px);
        -o-transform: translate(-200px, 0px);
        -ms-transform: translate(-200px, 0px);
        transform: translate(-200px, 0px);
}

#menu ul li a {
	color:#FFF;
}

nav {
	margin:0 auto;
	padding:0;
	float:left;
	color:#1f466b;
}


nav ul {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color:#FFF;
}


nav ul li {
  float:none;
	margin-left:-15px;
	text-align:left;
	display:block;
	padding-bottom:8%;
	color:#FFF;
	font-size:14px;
	position:relative;
}


nav ul li a {
    color: #FFF;
	font-size:14px;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}
*/

/*End _header*/


/*instructor_home.tmpl*/

#course-properties {
	width:100%;
	float:none;
	position:relative;
	margin:0 auto;
	padding:0;
  background:#8EBC5F;
  color:white;
}

#course-hello {
	float:none;
	position:relative;
	text-align: justify;
  width:100%;
  padding-top:28%;
}


.middle-part {
	float:left;
	position:relative;
	font-size: 12px;
  margin-left:25%;
}

.middle-part img {
  display:none;
}

.right-part {
  display:none;
}

span a {
  float:none;
  position:relative;
}

.middle-homepage-content {
	width:100%;
	float:left;
  position:relative;
	padding:0;
	margin:0 auto;
}

#class-section-content {
	width:100%;
  height:inherit;
	float:left;
	position:relative;
  display:block;
}

#class-section-content img {
	display:none;
}

.item-list {
  float:left;
  position:relative;
  display:block;
}

.item-list div {
  font-size:0px;
  background:none;
  }

.left-part {
  width:100%;
  float:left;
  position:relative;
  display:block;
}

#wrapper a img {
  display:none;
}

td .middle-part {
  width:80%;
  float:left;
  position:relative;
  text-align:left;
  padding:0;
  margin-left:-5%;
}

td .middle-part ul li div{
  float:left;
  color:#000;
}

.panel {
  width:100%;
  float:left;
  position:relative;
}

.link-with-arrow {
  list-style:none;
  float:left;
  position:relative;
  width:100%;
}

.link-with-arrow a span {
  font-family:"Arial #595959", Gadget, sans-serif;
  color:#000000;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  height:30px;
  padding-top:2%;
  text-indent:5%;
}

.link-with-arrow span {
  font-size:12px;
  float:left;
  display:block;
  width:100%;
  border-bottom:1px #D4D4D4 solid;
}

.link-with-arrow a {
  text-decoration:none;
}

.link-with-arrow img {
  display:none;
}

.message-title {
  float:left;
  width:100%;
  margin:0 auto;
  position:relative;
  text-align:left;
  border-bottom:1px solid #D4D4D4;
}

.message-title p {
  color:#000000;
  font-size:14px;
  font-weight:bold;
  text-indent:5%;
}

#divider {
  float:left;
  position:relative;
  height:50px;
  width:100%;
  background:#F4F4F4;
  border-bottom:1px solid #D4D4D4;
  text-indent:5%;
}

.notification-header {
  float:left;
  width:100%;
  height:inherit;
  position:relative;
  color:black;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  white-space:collapse;
}

.notification-header span {
  width:100%;
  float:left;
  position:relative;
}

.notification-header span a {
  color:black;
}

.selenium-announcement-type-link-title-0 {
  color:#000000;
  float:left;
  width:100%;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  list-style:none;
  text-indent:5%;
}

.selenium-announcement-type-link-title-1 {
  color:#000000;
  float:left;
  width:100%;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  list-style:none;
  text-indent:5%;
}

.selenium-announcement-type-link-title-2 {
  color:#000000;
  float:left;
  width:100%;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  list-style:none;
  text-indent:5%;
}

/*End instructor_home.tmpl*/

/*rsp.tmpl - Read, Study, Practice*/

#rsp-landing-filters {
  width:100%;
  max-width:360px;
  float:left;
  position:relative;
  margin:0 auto;
  padding:0;
}

#rsp-landing-filters h3 {
  color:#0d5386;
  font-size:16px;
}


.rsp-landing-content {
  width:100%;
  padding:0;
  height:100%;
  font-size:12px;
}

.rsp-landing-content h4 {
  color:#CCC;
  font-size:14px;
}

.rsp-landing-content td {
  width:80%;
  float:left;
  position:relative;
}

#module {
  float:left;
  display:block;
  width:80%;
}

#chapSelectorDIV {
  width:100%;
  float:left;
  position:relative;
  padding-top:10%;
}


#rsp-landing-content-book-instructor {
  float:left;
  position:relative;
  display:block;
  width:90%;
  min-width:320px;
  font-size:12px;
}

#rsp-landing-content-book-instructor tbody {
  width:100%;
  float:left;
  position:relative;
  padding:0;
}

/*end rsp.tmpl*/

/*assignment.tmpl*/
.breadcrumb {
  width:100%;
  float:left;
  position:relative;
  background:#8EBC5F;
  padding-top:15%;
  padding-bottom: 3%;
  text-indent:35%;
}

.breadcrumb b{
  color:#FFF;
}

.function-headline {
  font-size:16px;
  font-weight:bold;
  color:#999999;
}

#page-content {
  width:100%;
  min-height:100%;
  padding-top:5%;
  float:left;
  position:relative;
  font-size:12px;
  margin-bottom:inherit;
    padding-bottom: 5%;
}

#page-content span {
  float:left;
  position:relative;
  text-align:left;
  repeat:no-repeat;
}

.content-area {
    width:100%;
}

.content-area td {
  width:100%;
  float:left;
  position:relative;
}

.content-area select {
  width:50%;
  float:none;
  position:relative;
}

select .input {

}

.large-primary-style {
    float:left;
    position:relative;
    width:30%;
    background:#2581C3;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.large-primary-style a {
    color:#FFF;
    width:100%;
    text-decoration: none;
}

/*gradebook.tmpl*/

#gradebook-tab {
    width: 100%;
    position: relative;
    float: left;
    margin:0 auto;
}

.content-area {
  width:100%;
  float:left;
  position: relative;
  padding:0;
}

.function-headline{
  font-size:14px;
}
.input200{
  width: 50%;
    float:left;
    position:relative;
}

td #assignmentsSortBy{
  width:50%;
  float:left;
}

#assignmentsSortBy select {
  width:50%;
}

#clsSelector {
  max-width:70%;
  float:left;
  position:relative;
}

#assignmentsWrapper {
  width:100%;
  float:left;
  position:relative;
}

#assignments {
  max-width:70%;
  float:left;
  position:relative;
}

td #searchButtonWrapper {
  float:left;
}

#Export{
  display: none;
}
#Cancel{
  display: none;
}
#export-email{
  display: none;
}

.input120{
  display: none;
}


#applyGBSetting{
  font-size: 16px;
}

.gb-ftop {
  width:100%;
  float:left;
  position:relative;
}

.textRed {
    float:left;
    width:100%;
    position:relative;
}

.textRed span {
    width:100%;
    float:left;
}

.odd-row {
    width:100%;
    positon:relative;
    float:left;
    display:block;
    background:#FFF;
    border-bottom:1px solid #d4d4d4;
    text-overflow: ellipsis;
}

.even-row {
    width:100%;
    positon:relative;
    float:left;
    display:block;
    background:#FFF;
    border-bottom:1px solid #d4d4d4;
}

.odd-row a {
    color:#000000;
    font-weight: bold;
    text-decoration: none;
    width:100%;
    float:left;
    text-indent: 2%;
}

/*end gradebook.tmpl*/

/*Sub Navigation*/

#wp-page-header-subtabs {
  float:none;
  width:100%;
  background:#D4D4D4;
  list-style:none;
}


#wp-page-header-subtabs li {
  width:45%;
  float:none;
  font-size:14px;
  font-weight:bold;
  display:inline-block;
  text-align: center;
}

.active {
    background:#78ACD1;
    padding: 2%;
    color: #FFF;
    margin-left:-40px;
}

#wp-page-header-subtabs li a {
  color:white;
  text-decoration:none;
  text-align: center;
}
/*End Subnav*/

/*student_section.tmpl*/

.plain-table {
  width:100%;
  float:left;
  position:relative;
  margin:0 auto;
  padding:0;
}

.content-area-last tbody {
    width:50%;
}

/*end student_section.tmpl*/

/*student_profile.tmpl*/

.section-headline {
  font-size:14px;
}

.breadcrumb a {
  color:black;
  margin-left:10px;
}

a #Refresh_Roster {
  float:left;
  position:relative;
}

/*End Student Profile*/

/*License Agreement*/

.round-outer {
  float:left;
  position:relative;
  width:100%;
  padding-top:10%;
}

#mwp-class-info-wrapper {
  position:relative;
  float:left;
  width:100%;
  padding:none;
  background:#8EBC5F;
  color:white;
}

.round-inner ul {
  list-style:none;
  font-size:12px;
  background:gray;
  margin:0;
  width:100%;
  color:black;
}

.bottom-dashed {
  font-size:18px;
  height:22px;
  background:#8EBC5F;
  color:white;
}

h2 .mwp-bar {
  float:left;
  text-align:center;
  font-size:14px;
}

/*End License Agreement*/

/*Footer*/
footer {
	background: #F4F4F4;
    border-top:solid 4px #D4D4D4;
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	padding:0;
	font-size:10px;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
    text-align:center;
}

footer ul {
	width:80%;
	float:none;
	padding:0;
	position:relative;
	margin:0 auto;
}

footer ul a{
	color: #0066CC;
	font-size:10px;
	font-family: Arial, Helvetica, sans-serif;
}

footer ul a:visited {
  color: #0066CC;
}

footer ul li {
	float:none;
	display:block;
}

footer p {
	float:none;
	position:relative;
	font-size:9px;
	color:#000;
}

#img-footer {
	float:none;
	width:75%;
	padding:0;
	margin:0 auto;
}

p {
	float:left;
	position:relative;
}

/*End Footer*/

/*Pikabu*/
.m-pikabu-viewport {
  overflow-x:hidden;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 21, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-sidebar {
  position: absolute;
  overflow: visible;
  display: block;
}

/* line 28, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-right {
  right: 0;
  width: 300px;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
/* line 35, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-right-visible .m-pikabu-right {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 40, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-left {
  width: 300px;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 45, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-left-visible .m-pikabu-left {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 50, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-container {
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 54, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-left-visible .m-pikabu-container {
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
/* line 58, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-right-visible .m-pikabu-container {
  -webkit-transform: translate3d(-300px, 0, 0);
  -moz-transform: translate3d(-300px, 0, 0);
  -ms-transform: translate3d(-300px, 0, 0);
  -o-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

/* line 65, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-container,
.m-pikabu-sidebar {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}

/* line 72, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-overlay {
  display: none;
}
/* line 76, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-left-visible .m-pikabu-overlay, .m-pikabu-right-visible .m-pikabu-overlay {
  position: absolute;
  top: 0;
  z-index: 30;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* line 91, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-overflow-scrolling .m-pikabu-sidebar {
  overflow: auto;
}

/* line 95, /Users/ted/dev/pikabu/src/scss/pikabu.scss */
.m-pikabu-overflow-touch {
  -webkit-overflow-scrolling: touch;
}
@font-face {
  font-family: 'entypo';
  font-style: 'normal';
  font-weight: 'normal';
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot");
  src: url("http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix") format("eot"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.woff") format("woff"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf") format("truetype"), url("http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo") format("svg");
}

/* line 59, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
header {
  background: white;
  text-align: center;
  float:none;
  position:fixed;
  z-index: 1;
}

/* line 69, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
header h1 {
  display: inline-block;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 50px;
  color: #e64a33;
}
/* line 79, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
header h1::before {
  content: "\26a1";
  margin-right: 10px;
  font-family: "entypo", sans-serif;
}

/* line 86, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
.m-pikabu-nav-toggle {
  position: relative;
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fcfdf4;
  -moz-box-shadow: inset 0 1px 0 #fcfdf4;
  box-shadow: inset 0 1px 0 #fcfdf4;
  text-indent: 100%;
  white-space: nowrap;
  color: #000000;
  line-height: 25px;
}
/* line 106, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
.m-pikabu-nav-toggle[data-role="right"] {
  float: right;
}
/* line 110, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
.m-pikabu-nav-toggle::after {
  content: '☰';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-family: "entypo", sans-serif;
  text-align: center;
  text-indent: 0;
  font-size: 25px;
  color:#2581C3;
}
/* line 128, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
.m-pikabu-nav-toggle[data-role="right"]::after {
  content: '⋮';
  font-size: 30px;
}
/* line 134, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
.m-pikabu-left-visible .m-pikabu-nav-toggle[data-role="left"], .m-pikabu-right-visible .m-pikabu-nav-toggle[data-role="right"] {
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 140, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
section {
  padding: 20px;
}

/* line 144, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
.m-pikabu-sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background: #2581C3;
  color: white;
}

.m-pikabu-sidebar h1 {
  font-size:16px;
}

.m-pikabu-sidebar li {
  width:inherit;
  list-style:none;
  padding-bottom:4px;
}

.m-pikabu-sidebar li a {
  text-decoration:none;
  color:#FFF;
}

/* line 153, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
.m-pikabu-container {
  background: #fcfdf4;
}

/* line 157, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
section h2 {
  display: block;
  margin: 0;
  color: #e64a33;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
}

/* line 168, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
section h3 {
  display: block;
  margin: 20px -20px 10px;
  padding: 5px 20px 7px;
  background: #e64a33;
  border-bottom: solid 2px #e6e6dd;
  color: #fcfdf4;
  font-size: 18px;
  font-weight: normal;
}

/* line 181, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
section p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.4;
}

/* line 188, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
section p em {
  color: #e64a33;
  font-style: normal;
}

/* line 193, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
section a {
  color: #e64a33;
}
/* line 195, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
section a:hover {
  color: black;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

/* line 201, /Users/ted/dev/pikabu/src/scss/pikabu-theme.scss */
section ul {
  margin: 15px 0;
}

/*End Pikabu*/
