@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	font: normal 1em "Helvetica Neue", sans-serif;
	color: #15191A;
	background: #FFF;
	margin: 0;
	padding:0;
	width: 100%;
  height:100%;
  float:none;
  position:relative;
}

#wrapper {
  min-height:100%;
  width:100%;
  height:100%;
  float:left;
  position:relative;
  margin-bottom:inherit;
}

h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1em;
	font-weight: normal;
}

/*login.tmpl*/

#mwp-class-informer {
  float:left;
}

#mwp-class-informer-book {
  width:100%;
  float:left;
  position:relative;
}

#mwp-book-container {
  margin-left:3%;
  float:left;
}

#mwp-book-container img {
  max-width:128px;
}

#mwp-class-informer-book ul {
  float:left;
  position:relative;
  text-align:left;
  width:80%;
  font-size:14px;
}

#mwp-class-informer-book li {
  list-style:none;
  padding:2%;
  float:left;
  font-weight:bold;
  color:#595959;
}

#loginform {
  float:left;
  margin-left:8%;
  position:relative;
  width:90%;
  padding-bottom:5%;
}

#loginform p {
  float:left;
  position:relative;
  font-size:12px;
  margin-left:25%;
}
.mwp {
  width:100%;
}

fieldset {
  width:80%;
  float:left;
  border:none;
  background:none;
  color:#0d5386;
}

.mwp-right-arrow-button {
  background:#2581C3;
  width:240px;
  float:left;
  position:relative;
  text-decoration:none;
}

#mwp-login-button-wrapper {
  float:left;
  border-radius:4px;
  height:45px;
  position:relative;
  color:#FFF;
  text-align:center;
}

#mwp-login-button-wrapper a{
  color:#FFF;
  text-decoration:none;
  background:#2581C3;
  width:100%;
  float:left;
  font-size:16px;
  position:relative;
}

.c {
  font-size:16px;
  text-decoration:none;
  font-weight:bold;
}

#mwp-first-registration-wrapper {
  width:100%;
  float:left;
  position:relative;
}

#mwp-first-registration-wrapper p{
  font-size:12px;
  text-align:left;
  margin-left:1%;
}

.bottom-line {
  border-top:1px solid #D4D4D4;
  color:#00548F;
  width:100%;
  float:left;
  position:relative;
  font-size:14px;
  font-weight:bold;
}

/*end login*/

/*_header.tmpl*/
header {
	position:fixed;
	width:100%;
	float:none;
  height:40px;
  background:#FFF;
  border-bottom:#595959 solid 1px;
	z-index:1;
}

.header_img {
  width:125px;
  margin-left:30%;
}

.title {
	width:100%;
	float:none;
	margin:0 auto;
	padding-bottom:1%;
  background:#FFF;
  border-bottom:#595959 solid 1px;
  z-index:1;
}


#homeicon {
	width:20px;
	height:20px;
	float:left;
  position:absolute;
	padding-left:2%;
  top:8px;
}


.menu-link {
    position: absolute;
    top: 8px;
    left: -25px;
    height: 25px;
    width: 25px;
    background: url(http://cradigital.com/images/navi.png) #504a4a no-repeat ;
    background-position: center center;
    background-size: 100%;
    z-index: 99;
    -webkit-transition: opacity 0.15s ease;
    -moz-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
}

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    background-color: #8b8b8b;
    z-index: 999;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: 0.15s ease;
    right: -200px;
}

#menu.active {
        -webkit-transform: translate(-200px, 0px);
        -moz-transform: translate(-200px, 0px);
        -o-transform: translate(-200px, 0px);
        -ms-transform: translate(-200px, 0px);
        transform: translate(-200px, 0px);
}

#menu ul li a {
	color:#FFF;
}

nav {
	margin:0 auto;
	padding:0;
	float:left;
	color:#1f466b;
}


nav ul {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    color:#FFF;
}


nav ul li {
  float:none;
	margin-left:-15px;
	text-align:left;
	display:block;
	padding-bottom:8%;
	color:#FFF;
	font-size:14px;
	position:relative;
}


nav ul li a {
    color: #FFF;
	font-size:14px;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}


/*End _header*/


/*instructor_home.tmpl*/

#course-properties {
	width:100%;
	float:none;
	position:relative;
	margin:0 auto;
	padding:0;
  background:#8EBC5F;
  color:white;
}

#course-hello {
	float:none;
	position:relative;
	text-align: justify;
  width:100%;
  padding-top:28%;
}


.middle-part {
	float:left;
	position:relative;
	font-size: 12px;
  margin-left:25%;
}

.middle-part img {
  display:none;
}

.right-part {
  display:none;
}

span a {
  float:none;
  position:relative;
}

.middle-homepage-content {
	width:100%;
	float:left;
  position:relative;
	padding:0;
	margin:0 auto;
}

#class-section-content {
	width:100%;
  height:inherit;
	float:left;
	position:relative;
  display:block;
}

#class-section-content img {
	display:none;
}

.item-list {
  float:left;
  position:relative;
  display:block;
}

.item-list div {
  font-size:0px;
  background:none;
  }

.left-part {
  width:100%;
  float:left;
  position:relative;
  display:block;
}

#wrapper a img {
  display:none;
}

td .middle-part {
  width:80%;
  float:left;
  position:relative;
  text-align:left;
  padding:0;
  margin-left:-5%;
}

td .middle-part ul li div{
  float:left;
  color:#000;
}

.panel {
  width:100%;
  float:left;
  position:relative;
}

.link-with-arrow {
  list-style:none;
  float:left;
  position:relative;
  width:100%;
}

.link-with-arrow a span {
  font-family:"Arial #595959", Gadget, sans-serif;
  color:#000000;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  height:30px;
  padding-top:2%;
  text-indent:5%;
}

.link-with-arrow span {
  font-size:12px;
  float:left;
  display:block;
  width:100%;
  border-bottom:1px #D4D4D4 solid;
}

.link-with-arrow a {
  text-decoration:none;
}

.link-with-arrow img {
  display:none;
}

.message-title {
  float:left;
  width:100%;
  margin:0 auto;
  position:relative;
  text-align:left;
}

#divider {
  float:left;
  position:relative;
  height:50px;
  width:100%;
  background:#F4F4F4;
}

.notification-header {
  float:left;
  width:100%;
  height:inherit;
  position:relative;
  color:black;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  white-space:collapse;
}

.notification-header span {
  width:100%;
  float:left;
  position:relative;
}

.notification-header span a {
  color:black;
}

.selenium-announcement-type-link-title-0 {
  color:#000000;
  float:left;
  width:100%;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  list-style:none;
  border-bottom:#D4D4D4 1px solid;
}

.selenium-announcement-type-link-title-1 {
  color:#000000;
  float:left;
  width:100%;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  list-style:none;
  border-bottom:#D4D4D4 1px solid;
}

.selenium-announcement-type-link-title-2 {
  color:#000000;
  float:left;
  width:100%;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  list-style:none;
  border-bottom:#D4D4D4 1px solid;
}

/*End instructor_home.tmpl*/

/*rsp.tmpl - Read, Study, Practice*/

#rsp-landing-filters {
  width:100%;
  max-width:360px;
  float:left;
  position:relative;
  margin:0 auto;
  padding:0;
}

#rsp-landing-filters h3 {
  color:#0d5386;
  font-size:16px;
}


.rsp-landing-content {
  width:100%;
  padding:0;
  height:100%;
  font-size:12px;
}

.rsp-landing-content h4 {
  color:#CCC;
  font-size:14px;
}

.rsp-landing-content td {
  width:80%;
  float:left;
  position:relative;
}

#module {
  float:left;
  display:block;
  width:80%;
}

#chapSelectorDIV {
  width:100%;
  float:left;
  position:relative;
  padding-top:10%;
}


#rsp-landing-content-book-instructor {
  float:left;
  position:relative;
  display:block;
  width:90%;
  min-width:320px;
  font-size:12px;
}

#rsp-landing-content-book-instructor tbody {
  width:100%;
  float:left;
  position:relative;
  padding:0;
}


/*end rsp.tmpl*/

/*assignment.tmpl*/
.breadcrumb {
  width:100%;
  float:left;
  position:relative;
  background:#d1d1d1;
  padding-top:15%;
  padding-bottom: 1%;
  border-bottom: 1px solid black;
}

.breadcrumb b{
  color:#0d5386;
  margin-left:5%;
}

.function-headline {
  font-size:16px;
  font-weight:bold;
  color:#f7983b;
}

#page-content {
  width:100%;
  float:left;
  position:relative;
  padding-top:5%;
  font-size:12px;
}

#page-content span {
  float:left;
  position:relative;
  text-align:left;
  repeat:no-repeat;
}


.content-area td {
  width:100%;
  float:left;
  position:relative;
}

.content-area select {
  width:70%;
  float:none;
  position:relative;
}

select .input {

}

/*gradebook.tmpl*/

#gradebook-tab {
    width: 100%;
    position: relative;
    float: left;
    margin:0 auto;
}

.content-area {
  width:100%;
  float:left;
  position: relative;
  padding:0;
}

.function-headline{
  font-size:14px;
}
.input200{
  width: 50%;
}

td #assignmentsSortBy{
  width:50%;
  float:left;
}

#assignmentsSortBy select {
  width:50%;
}

#clsSelector {
  max-width:70%;
  float:left;
  position:relative;
}

#assignmentsWrapper {
  width:100%;
  float:left;
  position:relative;
}

#assignments {
  max-width:70%;
  float:left;
  position:relative;
}

td #searchButtonWrapper {
  float:left;
}

#Export{
  display: none;
}
#Cancel{
  display: none;
}
#export-email{
  display: none;
}

.input120{
  display: none;
}


#applyGBSetting{
  font-size: 16px;
}

.gb-ftop {
  width:100%;
  float:left;
  position:relative;
}

/*end gradebook.tmpl*

/*Sub Navigation*/

#wp-page-header-subtabs {
  float:none;
  width:100%;
  background:#667f91;
  list-style:none;
  margin-left:-40px;
}


#wp-page-header-subtabs li {
  width:40%;
  float:none;
  font-size:12px;
  display:inline-block;
  text-align: center;
}

.active {
    background:#d1d1d1;
    padding: 2%;
    color: #0d5386;
}

#wp-page-header-subtabs li a {
  color:white;
  text-decoration:none;
  text-align: center;
  margin-left: 10px;
}
/*End Subnav*/

/*student_section.tmpl*/

.plain-table {
  width:100%;
  float:left;
  position:relative;
  margin:0 auto;
  padding:0;
}

/*end student_section.tmpl*/

/*student_profile.tmpl*/

.section-headline {
  font-size:14px;
}

.breadcrumb a {
  color:black;
  margin-left:10px;
}

a #Refresh_Roster {
  float:left;
  position:relative;
}

/*End Student Profile*/

/*License Agreement*/

.round-outer {
  float:left;
  position:relative;
  width:100%;
  padding-top:10%;
}

#mwp-class-info-wrapper {
  position:relative;
  float:left;
  width:100%;
  padding:none;
  background:#8EBC5F;
  color:white;
}

.round-inner ul {
  list-style:none;
  font-size:12px;
  background:gray;
  margin:0;
  width:100%;
  color:black;
}

.bottom-dashed {
  font-size:18px;
  height:22px;
  background:#8EBC5F;
  color:white;
}

h2 .mwp-bar {
  float:left;
  text-align:center;
  font-size:14px;
}

/*Footer*/
footer {
	background: #F4F4F4;
  border-top:solid 4px #D4D4D4;
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;
	padding:0;
	font-size:10px;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
  text-align:center;
  white-space:none;
}

footer ul {
	width:80%;
	float:none;
	padding:0;
	position:relative;
	margin:0 auto;
}

footer ul a{
	color: #0066CC;
	font-size:10px;
	font-family: Arial, Helvetica, sans-serif;
}

footer ul a:visited {
  color: #0066CC;
}

footer ul li {
	float:none;
	display:block;
}

footer p {
	float:none;
	position:relative;
	font-size:9px;
	color:#000;
}

#img-footer {
	float:none;
	width:75%;
	padding:0;
	margin:0 auto;
}

p {
	float:left;
	position:relative;
}

/*End Footer*/
